app:
  upload-dir: ${UPLOADS_PATH}
  base-url: ${UPLOADS_BASE_URL}


  cors:
    allowed-origins:
      - "http://149.56.110.16"
      - "http://localhost:3000"
      - "http://localhost:3001"
      - "http://dev.lan:3000"
    allowed-methods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    allowed-headers:
      - "*"
    allow-credentials: true

server:
  port: ${PORT:8080}

spring:

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  application:
    name: CirculosEstudioBackend

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true

    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

keycloak:
  client:
    id: ${KEYCLOAK_CLIENT_ID}
    secret: ${KEYCLOAK_CLIENT_SECRET}
  auth:
    url: ${KEYCLOAK_AUTH_URL}
  token:
    url: ${KEYCLOAK_TOKEN_URL}
  redirect:
    uri: ${KEYCLOAK_REDIRECT_URI}
  realm: ${KEYCLOAK_REALM}
  base:
    url: ${KEYCLOAK_BASE_URL}
  admin:
    user: ${KEYCLOAK_ADMIN_USER:}
    password: ${KEYCLOAK_ADMIN_PASSWORD:}

jwt:
  auth:
    converter:
      principle-attribute: sub
      resource-id: ${KEYCLOAK_CLIENT_ID}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.oauth2: DEBUG
    com.mrbeans.circulosestudiobackend: DEBUG
    com.mrbeans.circulosestudiobackend.common.filter.CookieTokenFilter: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
